.container-home-page {
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.left {
    /* border: 2px solid red; */
    min-width: 40vw;
    height: 50rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    /* border: 2px solid black; */
    min-width: 40vw;
    height: 50rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.right h1 {
    /* border: 2px solid green; */
    font-size: 4rem;
    color: #f9a826;
}

.right p {
    /* border: 2px solid green; */
    font-size: 3rem;
}

.home-image {
    width: 30rem;
    object-fit: cover;
}

@media (min-Width:700px) and (max-width:844px) {
    .home-image {
        width: 15rem;
    }

    .right {
        height: 10rem;
        justify-content: flex-start;
        padding: 0rem 2rem;
    }

    .left {
        height: 30rem;
        padding: 0rem 2rem;
    }

    .container-home-page {
        margin-top: 1rem;
        justify-content: flex-start;
    }

}


@media (min-Width:300px) and (max-width:700px) {
    .home-image {
        width: 15rem;
    }

    .right {
        height: 10rem;
        justify-content: flex-start;
        padding: 0rem 2rem;
    }

    .right h1 {
        font-size: 3rem;
    }

    .right p {
        font-size: 2rem;
    }

    .left {
        height: 30rem;
        padding: 0rem 2rem;
    }

    .container-home-page {
        margin-top: 1rem;
        justify-content: flex-start;
    }
}